
# baseline
/baseline/__pycache__/*
/baseline/Market/*
/baseline/model/*
/baseline/mat/*
/baseline/demo_output/*

!/baseline/model/.gitkeep
!/baseline/mat/pytorch_result_ft_net_dense.mat

# IMDb
/__pycache__/*
/dataset/*
/IMDb/*
/IMDb_mini/*
/IMDb_resize/*
/model/*
/models/*
/mat/*
/record/*
/output/*
/features/*
/pretrain/*
/model_face/*
/log/*

!/model_face/net_best.pth

# all
*.csv